.button {
  text-decoration: none;
  padding: 8px 20px;
  color: #f6f6f6;
  font-size: 1.1rem;
  border-radius: 25px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
  font-weight: 500;
  z-index: 2;
}

.button + .button {
  margin-left: 15px;
}

.login {
  background-color: transparent;
  border: 1px solid rgb(230, 43, 167);
  color: rgb(230, 43, 167);
}

.login:hover {
  background-color: #b3288433;
}

.signup {
  background-color: rgb(230, 43, 167);
}

.signup:hover {
  filter: brightness(92%);
}

@media (width: 320px) {
  .button {
    font-size: 1rem;
  }
}
