.drawerContainer {
  width: 270px;
  height: 100%;
  min-height: 660px;
  background-color: #2a2e35;
  padding: 15px 0px;
  border-right: 1px solid rgb(34, 34, 34);
  box-shadow: 4px 60px 20px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.25s ease-out;
  z-index: 2;
}

.closeDrawer {
  display: none;
}

.logo {
  transform: scale(0.8);
  margin-left: 15px;
  display: block;
}

.listaOpcoes {
  list-style-type: none;
  margin-top: 40px;
  font-size: 0.9rem;
}

.opcaoLink {
  text-decoration: none;
  color: #bdb4b4;
  padding: 15px 20px;
  display: block;
  position: relative;
  border-left: 5px solid rgba(0, 0, 0, 0);
  transition: all 0.15s ease-in;
}
.opcaoLink:hover {
  border-left: 5px solid #f15e76;
  background-color: rgba(255, 255, 255, 0.1);
}

.active {
  border-left: 5px solid #f15e76;
  color: #fff;
}

.opcaoLink li {
  display: flex;
  align-items: center;
}

.opcaoLink li svg {
  margin-right: 20px;
}

.opcaoLink + .opcaoLink {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .open {
    left: 300px;
  }
  .drawerContainer {
    padding-top: 15px;
    transform: translatex(-300px);
    display: block;
  }

  .closeDrawer {
    display: block;
    margin-left: 15px;
    margin-bottom: 25px;
    cursor: pointer;
  }
}
