.container {
  height: 100%;
  display: grid;
  grid-template-columns: 270px repeat(4, 1fr);
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
    "drawer navbar navbar navbar navbar"
    "drawer main main main main"
    "drawer main main main main"
    "drawer main main main main"
    "drawer main main main main";
  position: relative;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px repeat(2, 1fr);
    grid-template-areas:
      "navbar navbar navbar"
      "main main main"
      "main main main";
  }
}
